<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Волонтеры{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/easymde.min.js') }}"></script>
</head>
<body>
  <nav>
    {% if current_user.is_authenticated %}
      {{ current_user.last_name }} {{ current_user.first_name }} |
    {% if current_user.is_authenticated %}
      {{ current_user.last_name }} {{ current_user.first_name }}
      {% if current_user.patronymic %} {{ current_user.patronymic }}{% endif %} |
       <a href="{{ url_for('auth.logout') }}">Выйти</a>
     {% else %}
       <a href="{{ url_for('auth.login') }}">Войти</a>
     {% endif %}
  </nav>

  <div class="container">

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <div class="alert alert-warning" role="alert">
          {{ msg }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}
</div>

  <footer>Комиссарова Алена Сергеевна 231-3213</footer>

  <script>
  window.addEventListener('pageshow', function(event) {
    if (event.persisted) {
      // если страница загружена из BFCache
      window.location.reload();
    }
  });
</script>

</body>
</html>
